In [1]:
#Read data from pandas 

import pandas as pd 
binary = pd.read_csv('http://dni-institute.in/blogs/wp-content/uploads/2017/07/dt_data.csv')

In [2]:
binary.describe()

,Card_Cust_ID,Unnamed: 3,Last_Month_spend,Last_3m_avg_spend,Spend_Drop_over50pct
count,4.750000e+02,0.0,475.000000,475.000000,475.000000
mean,1.002555e+06,NaN,602.147368,602.042105,0.263158
std,4.481438e+03,NaN,343.098348,343.130657,0.440812
min,1.000001e+06,NaN,10.000000,10.000000,0.000000
25%,1.000130e+06,NaN,310.000000,305.000000,0.000000
50%,1.000253e+06,NaN,600.000000,600.000000,0.000000
75%,1.000382e+06,NaN,900.000000,900.000000,1.000000
max,1.011114e+06,NaN,1190.000000,1200.000000,1.000000

In [4]:
#Columns
binary.dtypes.index

Index(['Card_Cust_ID', 'Gender', 'Education_level', 'Unnamed: 3',
       'Last_Month_spend', 'Last_3m_avg_spend', 'Spend_Drop_over50pct'],
      dtype='object')

In [5]:
#Drop a Column

binary.drop('Unnamed: 3' , axis = 1 , inplace = True)

In [7]:
#Target variable to be made {-1,1}
binary.Spend_Drop_over50pct.replace([0,1] , ['A' , 'B'] , inplace = True)

binary.head()

,Card_Cust_ID,Gender,Education_level,Last_Month_spend,Last_3m_avg_spend,Spend_Drop_over50pct
0,1000001,F,University,160,200,B
1,1000002,F,University,250,190,A
2,1000003,F,University,470,530,A
3,1000004,F,University,830,800,A
4,1000005,M,University,750,480,A

In [8]:
#Count Target variable values 

binary.Spend_Drop_over50pct.value_counts()

A    350
B    125
Name: Spend_Drop_over50pct, dtype: int64

In [10]:
#Find % values of the target variable levels 

round(binary.Spend_Drop_over50pct.value_counts()*100/len(binary.axes[0]),2)

A    73.68
B    26.32
Name: Spend_Drop_over50pct, dtype: float64

In [13]:
#Split sample into train and test 
from sklearn.model_selection import train_test_split
Train,Test = train_test_split(binary , random_state = 176, test_size = 0.3)

Train.head()

,Card_Cust_ID,Gender,Education_level,Last_Month_spend,Last_3m_avg_spend,Spend_Drop_over50pct
34,1000037,M,Graduate,20,30,B
335,1000361,M,University,790,780,A
439,1011077,M,High School,1190,1190,A
4,1000005,M,University,750,480,A
169,1000183,M,University,460,400,B

In [14]:
#Keep the target and independent variables into different arrays 

Train_IndependentVars = Train.values[: , 3:5]
Train_TargetVars = Train.values[:,5]

In [18]:
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier


#Build Decision Tree CART Algorithm 
dt_train_gini = DecisionTreeClassifier(criterion  = 'gini' , random_state = 100 , max_depth = 5, 
                                      min_samples_leaf = 5)

#Train 
dt_train_gini.fit(Train_IndependentVars , Train_TargetVars)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [19]:
with open("dt_train_gini.txt" , "w") as f:
    f = tree.export_graphviz(dt_train_gini , out_file = f)